#layout{
    height: 100vh;
}

h1{
    margin-top: 6%;
}

.items{
    width: 20%;
    height: 35vh;
}

.item-name{
    height: 15vh;
}

.containered-style{
    background-color: white;
    border-color: black;
    border-style: solid;
    -webkit-border-radius: 20px 20px 0 20px;
    border-radius: 20px 20px 0 20px;
}

header>div>div{
    padding: 2%;
    background-color: blue;
}

header{
    flex: 20%;
    height: 20vh;
    background-color: rgba(240, 248, 255, 0.449);
}

main{
    flex: 80%;
    max-height: 80vh;
}

img{
    transform: rotate(360deg);
}

#title{
    cursor: pointer;
}

.w-142{
    width: 142%;
}

.m-23-0{
    margin: 23% 0%;
}

.flex-80{
    width: 100%;
}

.margin-star {
    margin: 18% 0%;
}

.items:hover{
    cursor: pointer;
}

.animation{
    transition: all 0.75s;
}

.animated{
    transform: rotate(360deg);
}

.exit{
    height: 40vh;
    background-color: white;
    border-color: black;
    border-style: solid;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px; 
}

.yes{
    width: 10%;
    height: 7vh;
    text-align: center;
    background-color: rgba(0, 230, 0, 0.609);
    border-color: black;
    border-style: solid;
}

.no{
    width: 10%;
    height: 7vh;
    text-align: center;
    background-color: rgba(232, 46, 46, 0.609);
    border-color: black;
    border-style: solid;
}

.yes:hover{
    cursor: pointer;
    background-color: rgba(0, 230, 0, 0.17);
    animation: miExitAnimation 0.10 linear 1s forwards;
}

.no:hover{
    cursor: pointer;
    background-color: rgba(232, 46, 46, 0.17);
    animation: miExitAnimation 0.10 linear 1s forwards;
}

.no-margin{
    margin: 0%;
}



/* ANIMACIONES */
@keyframes miExitAnimation{
    to{
        -webkit-border-radius: 80px 80px 80px 80px;
        border-radius: 80px 80px 80px 80px;  
    }
}